# This is Git's per-user configuration file.
[user]
	name = Jamie Hitchen
    email = 25344048+jmehitch@users.noreply.github.com
    signingkey = {{ (bitwardenFields "item" "github-gpg-key").key_id.value }}

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[commit]
    gpgsign = true

[init]
    defaultBranch = main

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictStyle = zdiff3

[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true
    side-by-side = true
    features = custom-colors

[delta "custom-colors"]
    plus-non-emph-style = syntax "#006400"
    plus-style = syntax "#006400"
    plus-empty-line-marker-style = syntax "#006400"

[advice]
	skippedCherryPicks = false
