#!/bin/bash
# mise config hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
set -e
eval "$($(which mise) activate bash)"
mise use -g python
mise exec -- pip install --user pipx
mise install
